.tag {
    padding: 0.4rem 0.8rem;
    border-radius: 999px;
    font-size: 0.85rem;
    font-weight: 500;
    color: white;
    animation: fadeInTag 0.8s ease forwards;
    opacity: 0;
    transform: translateY(20px);
}

/* Estilos por tipo */
.tag.role {
    background: #3b82f6;
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
}

.tag.engine {
    background: #10b981;
    box-shadow: 0 0 8px rgba(16, 185, 129, 0.5);
}

.tag.platform {
    background: #f59e0b;
    box-shadow: 0 0 8px rgba(245, 158, 11, 0.5);
}

.tag.other {
    background: #9ca3af;
    box-shadow: 0 0 8px rgba(156, 163, 175, 0.5);
}

.tag.context {
    background: #2d3748;
    color: #e2e8f0;
    border: 1px solid #4a5568;
}

.tag.year {
    background: #4a5568;
    color: #e2e8f0;
    font-style: italic;
}

.tag.project {
    background: #6c5ce7;
    color: #fff;
    position: relative;
    box-shadow: 0 0 10px rgba(108, 92, 231, 0.5);
    text-decoration: none;
}

.tag.project.int-link,
.tag.project.ext-link {
    transition: scale ease-in-out .2s, filter ease-in-out .1s;
}

.tag.project.ext-link:hover
{
    scale: 1.05;
    filter: brightness(1.1);
}

.tag.project.int-link:hover
{
    scale: 0.95;
    filter: brightness(0.9);
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
}

@keyframes fadeInTag {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
